@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-pencil, .icon-spinner, .icon-stats, .icon-briefcase, .icon-airplane, .icon-user, .icon-signup, .icon-wink, .icon-loop, .icon-arrow-left, .icon-arrow-right, .icon-twitter, .icon-twitter-2, .icon-twitter-3, .icon-youtube, .icon-youtube-2, .icon-github, .icon-github-2, .icon-github-3, .icon-skype, .icon-google-plus, .icon-google-plus-2, .icon-google-plus-3, .icon-stats-2, .icon-arrow-left-alt1, .icon-arrow-right-alt1, .icon-left-quote, .icon-right-quote, .icon-left-quote-alt, .icon-right-quote-alt, .icon-play, .icon-play-2, .icon-play-3, .icon-bars, .icon-menu, .icon-menu-2, .icon-pencil-2 {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-pencil:before {
	content: "\e000";
}
.icon-spinner:before {
	content: "\e001";
}
.icon-stats:before {
	content: "\e002";
}
.icon-briefcase:before {
	content: "\e003";
}
.icon-airplane:before {
	content: "\e004";
}
.icon-user:before {
	content: "\e005";
}
.icon-signup:before {
	content: "\e006";
}
.icon-wink:before {
	content: "\e007";
}
.icon-loop:before {
	content: "\e008";
}
.icon-arrow-left:before {
	content: "\e009";
}
.icon-arrow-right:before {
	content: "\e00a";
}
.icon-twitter:before {
	content: "\67";
}
.icon-twitter-2:before {
	content: "\e00c";
}
.icon-twitter-3:before {
	content: "\e00d";
}
.icon-youtube:before {
	content: "\e00e";
}
.icon-youtube-2:before {
	content: "\e00f";
}
.icon-github:before {
	content: "\26";
}
.icon-github-2:before {
	content: "\e011";
}
.icon-github-3:before {
	content: "\68";
}
.icon-skype:before {
	content: "\73";
}
.icon-google-plus:before {
	content: "\e015";
}
.icon-google-plus-2:before {
	content: "\e016";
}
.icon-google-plus-3:before {
	content: "\e017";
}
.icon-stats-2:before {
	content: "\e014";
}
.icon-arrow-left-alt1:before {
	content: "\e018";
}
.icon-arrow-right-alt1:before {
	content: "\e019";
}
.icon-left-quote:before {
	content: "\e01a";
}
.icon-right-quote:before {
	content: "\e01b";
}
.icon-left-quote-alt:before {
	content: "\e01c";
}
.icon-right-quote-alt:before {
	content: "\e01d";
}
.icon-play:before {
	content: "\e01e";
}
.icon-play-2:before {
	content: "\e01f";
}
.icon-play-3:before {
	content: "\e020";
}
.icon-bars:before {
	content: "\e021";
}
.icon-menu:before {
	content: "\e022";
}
.icon-menu-2:before {
	content: "\e023";
}
.icon-pencil-2:before {
	content: "\e024";
}
